
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: '나눔고딕';
}

h1 {
    font-size: 1.5em;
    text-align: center;
    line-height: 70px;
}

nav {
    background: #ff9100;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav > ul > li {
    flex: 1 0 25%;
    line-height: 50px;
    text-align: center;
}

nav a:link, nav a:visited {
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

section {
    height: 800px;
    border: 1px solid white;
}

section h2 {
    font-size: 4em;
    text-align: center;
    color: #fff;
    /* 소문자를 다 대문자로 바꿔줌 */
    text-transform: uppercase;
    text-shadow: 1px 2px 1px black;
    margin-top: 100px;
}

#eu {
    background: url("../images/eu.jpg") no-repeat center;
    background-size: cover;
}

#us {
    background: url("../images/us.jpg") no-repeat center;
    background-size: cover;
}

#ch {
    background: url("../images/ch.jpg") no-repeat center;
    background-size: cover;
}

#jp {
    background: url("../images/jp.jpg") no-repeat center;
    background-size: cover;
}